@import 'components/Button/Button.css';
@import 'components/Card/Card.css';
@import 'components/Layout/Layout.css';
@import 'components/TextField/TextField.css';

.font-primary {
  font-weight: var(--font-primary);
}

.font-secondary {
  font-weight: var(--font-secondary);
}

.font-regular {
  font-weight: var(--font-regular);
}

.font-bold {
  font-weight: var(--font-bold);
}

.color-background {
  color: var(--color-background);
}

.color-text {
  color: var(--color-text);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-neutral {
  color: var(--color-neutral);
}

.background-background {
  background-color: var(--color-background);
}

.background-text {
  background-color: var(--color-text);
}

.background-primary {
  background-color: var(--color-primary);
}

.background-secondary {
  background-color: var(--color-secondary);
}

.background-neutral {
  background-color: var(--color-neutral);
}